@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Web.eot');
  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Graphik-Regular-Web.woff') format('woff'),
     url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
     url('../fonts/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

html { overflow-y: scroll; overflow-x: hidden; }

.disabled { cursor: not-allowed; }

.info-box {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.info-box.danger {
	border-left-color: #ce4844;
}
.info-box.danger h4 {
	color: #ce4844;
}

.waa_errors { display:none }
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik';
	color:#000;
	letter-spacing:1px;
	margin-top:0;
	font-weight:600;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
h1 {}
h2 {}
h3 { font-size:18px; }
h4 {}
p { margin:0 0 25px 0; }
hr { border:none; height:1px; background:#eeeeee; }

.hr { background:#000; height:1px; }

.btn, .btn-default { 
	border:2px solid #000;
	border-radius:0;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:100;
	text-shadow:none;
	font-family:'Graphik';
	font-size:13px;
	line-height:22px;
	padding:7px 20px;	
}

.btn-primary {
	background:#009dce; 
	border:2px solid #009dce; 
}

.btn.btn-primary:hover {
	background:#fff; 
	border:2px solid #009dce; 
}

.btn:hover, .btn-default:hover { 
	background:#fff;
	border:2px solid #000;
	color:#000;
}

.btn-inverted {
	background:#fff;
	border:2px solid #000;
	color:#000;
}
.btn-inverted:hover {
	background:#000;
	border:2px solid #000;
	color:#fff;
}

.btn:hover, .btn:focus, .btn.focus {
	color:inherit;
}

#top {
	padding-top:20px;
}

#top.header-image {
	height:385px;
}
#top.header-image .navbar-brand {
	display:inline-block;
	height:105px;
	width:170px;
	background:url(../img/logo-inverted.png) 15px 12px;
	background-repeat:no-repeat;
}
#top.header-image .navbar-brand img { display:none }
#top.header-image .nav li a { color:#fff; }
#top.header-image .navbar-nav>li.current_page_item>a, #top.header-image .nav>li>a:hover, #top.header-image .nav>li>a:focus {  border-bottom:1px solid #fff; }

.hero-banner {
	margin:85px auto 20px;
	width:475px;
	padding: 10px 40px;
  border: 3px solid #fff;
	text-align:center;
}

.hero-banner h1 {
	margin: 0;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 15px;
	text-transform: uppercase;
	line-height: 45px;
	color:#fff;
}
}

.row { margin-bottom:35px; }

/*
*
* Desktop Menu
*
*/
@media all and (min-width:768px) {
	.navbar-nav { 
		float:right;
		margin-top:30px;
	}
	.navbar-nav>li>a {
		text-transform:uppercase;
		padding: 12px 5px 0;
		margin: 0px 15px;
		font-family: 'Graphik';
		font-size:12px;
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
		border-bottom:1px solid transparent;
	}
	.navbar-nav>li.current_page_item>a, .nav>li>a:hover, .nav>li>a:focus {
		border-bottom:1px solid #000;
		background:none;
	}
}

#content { 
	margin-top:40px;    
	background: #ffffff none repeat scroll 0 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 9;
}

#footer { margin-top:50px; }

#footer h4 {
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}

#copyright { margin-top:35px; }



.hero-img { position:relative; margin-bottom:80px; }
.hero-caption { 
	position:absolute;
	bottom:36px;
	left:68px;
	color:#fff;
	border-bottom: 1px solid #fff;
  font-family: 'Graphik';
  font-weight: bold;
  letter-spacing: 1px;
	font-size:17px;
	line-height:21px;
}


/* 
*
* Artist Showcase
*
*/
.showcase, .blog-grid {
	clear: both;
	padding-top:50px;
  padding-bottom: 80px;
	background: #f8f8f8 none repeat scroll 0 0;
}
.blog-grid { background: #fff none repeat scroll 0 0 ; }
.showcase .showcase-content, .blog-grid .showcase-content {
	background: #ffffff none repeat scroll 0 0;
	display: block;
	padding-left: 25px;
	padding-right: 20px;
	position: relative;
	overflow: hidden;
	padding-bottom:20px;
}
.blog-grid .showcase-content { background:#f8f8f8 }
.blog-grid h1, .showcase h1 { 
	color: #000;
	font-size: 14px;
	margin: 35px 0 15px;
	text-transform: uppercase;
	line-height:1.3;
	padding-right:122px;
}
.blog-grid h1:after, .showcase h1:after {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 25px;
	margin-top: 22px;
	opacity: 1;
	filter: alpha(opacity=100);
	position: absolute;
	width: 26px;
}
.showcase .entry_author_image {
    position: absolute;
    top: 25px;
    right: 20px;
    border-radius: 50%;
}
.showcase .entry_author_image img {
    border-radius: 50%;
    width: 125px;
}
.showcase .artist-location {
	float:left;
	width:100%;
	color: #252525;
	font-family: 'Graphik';
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-bottom:10px;
	padding-left:15px;
	padding-right: 125px;
	position:relative;
}
.showcase .artist-location:before {
	content:url(../img/location-pin.png);
	position:absolute;
	top:1px;
	left:0;
}
.showcase .artist-art-count, .showcase .artist-tags {
	display:block;
	color: #7d7d7d;
	font-size: 14px;
}
.showcase .artist-tags {
	padding-bottom:35px;
	padding-right:120px;
}
.showcase .showcase-content h2 {
	color: #000000;
	font-size: 12px;
	letter-spacing: 2px;
	margin-bottom: 22px;
	text-transform: uppercase;
}

.content-social-share { 
	margin-top: 20px;
	text-align: center;
	float:left;
	width:100%;
}
.content-social-share span {
	color: #252525;
	float: left;
	font-family: 'Graphik';
	font-size: 10px;
	letter-spacing: 2px;
	margin-right: 25px;
	text-transform: uppercase;
	padding-top:5px;
}
.showcase .showcase-content ul {
	float: left;
	margin: 0;
	width: auto;
	padding:0;
	clear:none;
}
.showcase .showcase-content li {
	display:inline-block;
	float:none;
	padding:0;
	margin-left:20px;
}
.showcase-content li  .fa-facebook {
  color: #41608b;
}
.showcase-content  li  .fa-twitter {
  color: #00adef;
}
.showcase-content  li  .fa-tumblr {
  color: #41608b;
}
.showcase-content  li .fa-google-plus {
  color: #d01820;
}
.showcase-content li .fa-pinterest {
  color: #ec4823;
}
.content-social-share a:hover {
  color: inherit;
}

/* product grid */
ul.products li.product.type-product {
	width: 47%;
  margin: 0 3% 2.992em 0;
	padding:20px;
	background:#fff;
}
.woocommerce ul.products li.product h3 {
	font-size: 18px;
	font-weight: normal;
	font-family: "Crimson Text",serif;
	padding-bottom:0;
	letter-spacing:0;
}

.woocommerce ul.products li.product .dimensions { 
	color:#7d7d7d;
	font-size:14px;
}

.woocommerce ul.products li.product .artist {
	display:block;
	padding-top:5px;
}

.woocommerce ul.products li.product .city {
	display:block;
	color:#7d7d7d;
	line-height:14px;
	font-size:14px;
}

.woocommerce ul.products li.product .price {
	color:#000;
	position:absolute;
	bottom:20px;
	right:20px;
	font-size:16px;
	line-height:16px;
	margin:0;
}

/* masonry category grid */
.grid-sizer, ul.products li.product-category.product {
	width: 31%;
	margin:0 0 35px 0;
	padding:0;
}
.gutter-sizer {
	width:3%;
}

/* masonry blog grid */
.post.type-post {
	background-color:#fff;
	padding:20px;
}
.grid-sizer-masonry, .post.type-post {
	width: 47%;
	margin:0 0 35px 0;
}
.gutter-sizer-masonry {
	width:6%;
}
article img { max-width:100%; height:auto; }

article h2 { font-size:18px; margin-top:25px; }

@media all and (max-width: 768px) {
	.grid-sizer, ul.products li.product-category.product {
		width: 48%;
	}
	.gutter-sizer {
		width:4%;
	}
	.grid-sizer-masonry {
		width: 100%;
	} 
	.post.type-post {
		width: 100%;
		margin:0 0 35px 0;
		padding:0;
		float:left;
	}
	.gutter-sizer-masonry {
		width:0;
	}
}
@media all and (max-width: 540px) {
	.grid-sizer, ul.products li.product-category.product {
		width: 100%;
		margin:0 0 35px 0;
		padding:0;
	}
	.gutter-sizer {
		width:0;
	}
}