@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular-Web.eot');
    src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff'),
    url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
    url('../fonts/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-brand > img {
    height: 70px;
    width: 140px;
}

p.form-row {
    margin-bottom: 10px
}

label {
    line-height: 2;
    margin-bottom: 0;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 3px;
    max-width: 100%;
}

.radio label, .checkbox label {
    line-height: 1.5
}

input[type="text"], input[type="email"], input[type="search"], input[type="tel"], input[type="password"], input[type="number"], input[type="submit"], select, textarea, button, .button, .waa-form-control {
    border: 1px solid #e3e3e3;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    color: #000;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="submit"]:focus, textarea:focus, input[type="text"]:active, input[type="email"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="password"]:active, input[type="number"]:active, input[type="submit"]:active, textarea:active {
    color: #31708f;
    outline: 0;
    border: 1px solid #009dce;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 2px !important
}

.modal .close {
    width: auto;
    float: right;
    font-size: 28px;
    border: none;
    padding: 7px 0 7px 7px;
    line-height: 11px;
    background: transparent;
    color: #000;
}

.modal-body, .modal-header {
    padding: 20px 20px 15px;
}

.modal-header h2 {
    font-size: 18px;
}

.modal-content {
    border-radius: 0
}

.showcase .widgettitle {
    display: none
}

.showcase .showcase-content .seller-form ul {
    width: 100%
}

.showcase .showcase-content .seller-form li {
    margin: 0;
    padding: 0;
    display: block
}

.alert {
    padding: 10px
}

input.error, textarea.error, select.error {
    border-color: #b81c23;
}

.waa-product-listing-area button, .media-modal .button {
    width: auto
}

.waa-add-product-link a {
    background: #009dce;
    color: #fff;
    padding: 8px 15px;
    border: none;
    line-height: 22px
}

.waa-add-product-link a:hover, .waa-add-product-link a:focus, .waa-add-product-link a:active {
    background: #000;
    color: #fff;
}

#_disable_shipping {
    display: none
}

.waa-dashboard-wrap input {
    width: auto;
}

.waa-product-edit-form input[type="text"], .waa-product-edit-form input[type="number"] {
    width: 100%
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none
}

body.logged-in .login_link { display:none; }

.nav .dropdown a:hover, .nav .dropdown a:focus {
    border-color: transparent
}

ul.cart_list.product_list_widget {
    list-style: none;
    padding: 5px;
    text-align: center
}

.widget_shopping_cart_content .button {
    display: block;
    margin: 5px;
    border: 2px solid #000;
    width: auto;
    background: #000;
    color: #fff;
    text-align: center
}

.widget_shopping_cart_content .button:hover {
    border: 2px solid #000 !important;
    background: #fff;
    color: #000;
}

.mini_cart_item .remove {
    display: none !important
}

.widget_shopping_cart_content img {
    margin-top: -5px;
    margin-bottom: 5px;
}

.widget_shopping_cart_content .mini_cart_item a {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.widget_shopping_cart_content dl.variation {
    margin: 0;
    padding: 0
}

.widget_shopping_cart_content .variation dd p {
    margin: 0;
    padding: 0
}

.widget_shopping_cart_content .quantity {
    margin-bottom: 20px;
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

.widget_shopping_cart_content .total {
    text-align: center
}

.widget_shopping_cart_content .amount {
    font-size: 18px;
    font-family: 'Graphik';
    color: #000;
}

.dropdown-menu.mini-shopping-cart {
    padding-bottom: 0;
    position: absolute;
    top: 37px;
    left: -100%;
    width: 126%;
}

.navbar-toggle {
    width: auto
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav > li.shopping-cart > a {
    border: none;
}

.navbar li.shopping-cart:hover .fa {
    color: #009DCE;
}

.navbar li.shopping-cart a:hover {
    border: none
}

input[type="submit"] {
    font-size: 16px;
}

input[type="submit"]:hover, button:hover {
    background: #000;
    color: #fff;
}

.disabled {
    cursor: not-allowed;
}

.info-box {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.info-box.danger {
    border-left-color: #ce4844;
}

.info-box.danger h4 {
    color: #ce4844;
}

.waa_js_errors {
    display: none
}

a {
    text-decoration: none;
    border-bottom: 0.07em solid transparent;
    -webkit-transition: color .3s, border .3s;
    -moz-transition: color .3s, border .3s;
    -ms-transition: color .3s, border .3s;
    -o-transition: color .3s, border .3s;
    transition: color .3s, border .3s;
}

a:hover {
    color: #009dce;
    border-color: #009dce;
    text-decoration: none;
}

a:focus, a:active {
    outline: 0;
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Graphik';
    color: #000;
    letter-spacing: 1px;
    margin-top: 0;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.home h1, .home h2, .home h3, .home h4, .home h5 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 30px;
}

p {
    margin: 0 0 25px 0;
}

hr {
    border: none;
    height: 1px;
    background: #eeeeee;
}

blockquote em {
    font-size: 16px
}

.hr {
    background: #000;
    height: 1px;
}

.btn, .btn-default, .widget_shopping_cart_content .button {
    border: 2px solid #000;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    text-shadow: none;
    font-family: 'Graphik';
    font-size: 13px;
    line-height: 22px;
    padding: 7px 20px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}

.widget_shopping_cart_content .button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    letter-spacing: 1px
}

.widget_shopping_cart_content .buttons {
    margin-bottom: 0
}

.btn-primary {
    background: #009dce;
    border: 2px solid #009dce;
}

.btn.btn-primary:hover {
    background: #fff;
    border: 2px solid #009dce;
}

.btn:hover, .btn-default:hover {
    background: #fff;
    border: 2px solid #000;
    color: #000;
}

.btn-inverted {
    background: #fff;
    border: 2px solid #000;
    color: #000;
}

.btn-inverted:hover {
    background: #000;
    border: 2px solid #000;
    color: #fff;
}

#top {
    padding-top: 15px;
}

#top.header-image {
    height: 385px;
}

#top.header-image .navbar-brand {
    display: inline-block;
    height: 105px;
    width: 170px;
    background: url(../img/logo-inverted.png) 15px 12px;
    background-repeat: no-repeat;
    background-size: 140px 70px;
}

#top .navbar-brand {
    border: none
}

#top.header-image .navbar-brand img {
    display: none
}

#top.header-image .nav > li > a {
    color: #fff;
}

#top.header-image .navbar-nav > li.current_page_item > a, #top.header-image .nav > li > a:hover, #top.header-image .nav > li > a:focus {
    border-bottom: 1px solid #fff;
}

.hero-banner {
    margin: 85px auto 20px;
    width: 475px;
    padding: 10px 40px;
    border: 3px solid #fff;
    text-align: center;
}

.hero-banner h1 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 15px;
    text-transform: uppercase;
    line-height: 45px;
    color: #fff;
}

}

.row {
    margin-bottom: 35px;
}

/*
*
* Desktop Menu
*
*/
@media all and (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin-top: 30px;
    }

    .navbar-nav > li > a {
        text-transform: uppercase;
        padding: 12px 5px 0;
        margin: 0px 15px;
        font-family: 'Graphik';
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border-bottom: 1px solid transparent;
    }

    .navbar-nav > li.current_page_item > a, .nav > li > a:hover, .nav > li > a:focus {
        border-bottom: 1px solid #000;
        color: #000;
        background: none;
    }

    .navbar-nav > li.artist-menu {
        position: relative;
    }

    .navbar-nav > li.artist-menu ul.sub-menu {
        position: absolute;
        top: 38px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        list-style: none;
        background: #000;
        background: #7d7d7d;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar-nav > li:hover.artist-menu a {
        /* border:none;*/
    }

    .navbar-nav > li:hover.artist-menu ul.sub-menu {
        visibility: visible;
        opacity: 1;
    }

    .navbar-nav > li.artist-menu ul.sub-menu li {
        padding: 2px 0;
    }

    .navbar-nav > li.artist-menu ul.sub-menu li a {
        color: #fff;
    }

    .navbar-nav > li.artist-menu ul.sub-menu li a:hover {
        color: #000;
    }
}

#content {
    margin-top: 40px;
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#footer {
    margin-top: 50px;
}

#footer h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#footer ul li {
    margin: 0;
}

#copyright {
    margin-top: 0px;
    height: 30px;
    margin-bottom: 15px;
}

.hero-img {
    position: relative;
    margin-bottom: 80px;
}

.hero-caption {
    position: absolute;
    bottom: 36px;
    left: 68px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-family: 'Graphik';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 21px;
}

/*
*
* Artist Showcase
*
*/
.showcase, .blog-grid {
    clear: both;
    padding-top: 50px;
    padding-bottom: 80px;
    background: #f7f7f7 none repeat scroll 0 0;
}

.blog-grid {
    background: #fff none repeat scroll 0 0;
}

.showcase .showcase-content, .blog-grid .showcase-content {
    background: #ffffff none repeat scroll 0 0;
    display: block;
    padding-left: 25px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.showcase .showcase-content {
    margin-bottom: 35px;
    min-height: 175px
}

.blog-grid .showcase-content {
    background: #f8f8f8
}

.blog-grid h1, .showcase h1 {
    color: #000;
    font-size: 14px;
    margin: 35px 0 15px;
    text-transform: uppercase;
    line-height: 1.3;
    padding-right: 122px;
}

.blog-grid h1:after, .showcase h1:after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 25px;
    margin-top: 22px;
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    width: 26px;
}

.showcase .entry_author_image {
    position: absolute;
    top: 25px;
    right: 20px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    overflow: hidden;
}

.showcase .entry_author_image img {
    border-radius: 50%;
    width: 125px;
    height: auto;
}

.showcase .artist-location {
    float: left;
    width: 100%;
    color: #252525;
    font-family: 'Graphik';
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 125px;
    position: relative;
}

.showcase .artist-location:before {
    content: url(../img/location-pin.png);
    position: absolute;
    top: 1px;
    left: 0;
}

.showcase .artist-art-count, .showcase .artist-tags {
    display: block;
    color: #7d7d7d;
    font-size: 14px;
    width: 175px;
}

.showcase .artist-description {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: justify;
}

.showcase .artist-tags {
    padding-bottom: 35px;
    padding-right: 120px;
}

.showcase .showcase-content h2 {
    color: #000000;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.content-social-share {
    margin-top: 20px;
    text-align: center;
    float: left;
    width: 100%;
}

.content-social-share span {
    color: #252525;
    float: left;
    font-family: 'Graphik';
    font-size: 10px;
    letter-spacing: 2px;
    margin-right: 25px;
    text-transform: uppercase;
    padding-top: 5px;
}

.showcase .showcase-content ul {
    float: left;
    margin: 0;
    width: auto;
    padding: 0;
    clear: none;
}

.showcase .showcase-content li {
    display: inline-block;
    float: none;
    padding: 0;
    margin-left: 20px;
}

.showcase-content li a:hover .ui-facebook {
    color: #41608b;
}

.showcase-content li a:hover .ui-twitter {
    color: #00adef;
}

.showcase-content li a:hover .ui-tumblr {
    color: #41608b;
}

.showcase-content li a:hover .ui-instagram {
    color: #3f729b;
}

.showcase-content li a:hover .ui-linkedin {
    color: #006fa6;
}

.showcase-content li a:hover .ui-flickr {
    color: #0063DC;
}

.showcase-content li a:hover .ui-google-plus, .showcase-content li a:hover .ui-youtube {
    color: #d01820;
}

.showcase-content li a:hover .ui-pinterest {
    color: #ec4823;
}

.showcase-content li a:hover {
    color: inherit;
    text-decoration: none;
    border: none;
}

.showcase2-content {
    margin-bottom: 20px
}

/* product grid */
ul.products {
    margin: 0;
    padding: 0;
}

ul.products li {
    list-style: none
}

ul.products li.product.type-product {
    width: 32.5%;
    margin: 0 0 1% 0;
    padding: 0;
    background: #fff;
    cursor: pointer;
}

ul.products li.product a img {
    margin: 0 !important;
}

ul.products li.product h3 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Crimson Text", serif;
    padding-bottom: 0;
    letter-spacing: 0;
}

ul.products li.product .dimensions {
    color: #7d7d7d;
    font-size: 14px;
}

ul.products li.product footer {
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    padding-left: 30px;
}

ul.products li.product footer .artist {
    font-weight: 700;
    font-family: 'Graphik';
    color: #000;
    font-size: 13px;
}

ul.products li.product .city {
    color: #000;
    line-height: 14px;
    font-size: 14px;
}

ul.products li.product .price .woocommerce-price-suffix {
    font-size: 12px;
    font-weight: normal
}

ul.products li.product .price {
    color: #000;
    position: absolute;
    bottom: 4px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

ul.products li.product .art-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px 30px 24px;
}

ul.products li.product .art-info header {
    padding: 0 0 28px;
    display: inline-block;
}

ul.products li.product .art-info header .title a, .art-slider footer a.title {
    font-size: 26px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
}

ul.products li.product .art-info header .title a:hover, ul.products li.product .art-info header .title a:focus {
    color: #000;
    border-color: #000;
}

ul.products li.product .art-info header .title {
    float: left;
}

ul.products li.product .art-info header .tagged_as {
    display: block;
}

ul.products li.product .art-info header .tagged_as a {
    border: none;
    font-family: 'Graphik';
    font-size: 12px;
}

ul.products li.product .art-info header .tagged_as a:hover, ul.products li.product footer .artist a:hover {
    color: #323237;
}

ul.products li.product:hover > a:before {
    visibility: visible;
    opacity: 1;
}

ul.products li.product header h3 {
    font-size: 20px;
    font-family: 'Graphik';
    font-weight: bold;
    line-height: 28px;
    text-transform: none;
    margin-top: 0;
}

ul.products li.product > a:before {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

ul.products li.product.product-category > a:before {
    background-color: transparent;
}

ul.products li.product-category .entry_author_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

ul.products li.product-category:hover .entry_author_image {
    z-index: 3;
    display: block;
}

ul.products li.product-category .the_post_image {
    position: relative;
    z-index: 2;
}

.woocommerce ul.products li.product-category h3 {
    display: none
}

ul.products li.product .art-info {
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

ul.products li.product:hover .art-info {
    opacity: 1;
}

/* masonry category grid */
ul.products li.product-category.product {
    width: 31%;
    margin: 0 0 35px 0;
    padding: 0;
}

.grid-sizer {
    width: 32.5%;
}

.gutter-sizer {
    width: 1%;
}

.page-id-16 .grid-sizer, #post-14 .grid-sizer, #artists-page .grid-sizer {
    width: 32.5%;
}

.page-id-16 .gutter-sizer, #post-14 .gutter-sizer, #artists-page .gutter-sizer {
    width: 1%;
}

.page-id-16 ul.products li.product.type-product, #post-14 ul.products li.product.type-product, #artists-page li.product.type-product {
    width: 32.5%;
    margin-bottom: 1%;
}

/* masonry product grid */
.showcase ul.products li.product.type-product {
    width: 48%;
    margin: 0 0 4% 0;
    position: relative;
}

.showcase ul.products li:nth-of-type(2n+2) {
    margin-right: 0
}

.showcase .grid-sizer {
    width: 48%;
}

.showcase .gutter-sizer {
    width: 4%;
}

/* masonry blog grid */
.post.type-post {
    background-color: #fff;
    padding: 20px;
}

.single .post.type-post {
    padding: 0
}

.grid-sizer-masonry, .post.type-post {
    width: 47%;
    margin: 0 0 35px 0;
}

.gutter-sizer-masonry {
    width: 6%;
}

article img {
    max-width: 100%;
    height: auto;
}

article h2 {
    font-size: 18px;
    margin-top: 25px;
}

.img-responsive {
    margin-bottom: 20px;
}

.textwidget {
    margin-bottom: 20px
}

/*
*
*  [artists] Shortcode
*
*/
#artists-page li {
    position: relative;
    z-index: 1;
}

#artists-page .entry_author_image {
    width: 150px;
    overflow: hidden;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
}

#artists-page .entry_author_image_container .artist {
}

#artists-page .artist {
    font-family: 'Graphik';
    margin-top: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 30px;
    background: rgba(0, 0, 0, .7);
    padding: 10px 20px;
    width: 65%;
    text-align: right;
    line-height: 20px;
}

#artists-page li.type-product:hover .artist {
    display: none;
}

#artists-page .artist-style {
    font-size: 11px;
    color: rgba(255, 255, 255, .5);
}

#artists-page li .artist-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
}

#artists-page li .artist-hover:hover .desc {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

#artists-page li .artist-hover .desc {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

#artists-page li:hover .artist-hover .desc {
    top: 50%;
}

#artists-page li:hover .artist-hover .bottom {
    bottom: 20px;
}

#artists-page li:hover .artist-hover, #artists-page li:hover .artist-hover .desc, #artists-page li:hover .artist-hover .bottom {
    opacity: 1;
}

#artists-page li .artist-hover .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 18px;
}

.woocommerce .woocommerce-error:after, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:after, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:after, .woocommerce .woocommerce-message:before {
    content: " ";
    display: table;
}

.clear, .woocommerce .woocommerce-breadcrumb:after, .woocommerce .woocommerce-error:after, .woocommerce .woocommerce-info:after, .woocommerce .woocommerce-message:after {
    clear: both;
}

/* Woocommerce classes */
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    padding: 1em 2em 1em 3.5em !important;
    margin: 0 0 2em !important;
    position: relative;
    list-style: none !important;
    width: auto;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.woocommerce .woocommerce-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before {
    font-family: FontAwesome;
    content: "\f129";
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
}

.woocommerce .woocommerce-error li, .woocommerce .woocommerce-info li, .woocommerce .woocommerce-message li {
    list-style: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.woocommerce-message .button {
    margin-right: 10px;
    background: #fff;
}

.woocommerce-info a {
    border-bottom: 1px solid;
}

.woocommerce-info a:hover {
    border-bottom: 0;
    color: #000
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop {
    border-color: #e3e3e3;
    border-radius: 0;
}

.select2-container {
    height: 50px;
}

.select2-container .select2-choice {
    padding: 9px 0 0 10px;
    height: 46px;
    border-radius: 0;
    border-color: #e3e3e3
}

/* SINGLE PRODUCT PAGE */
h1.product_title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: italic;
    font-family: "Crimson Text", serif;
}

.product-sidebar .price {
    margin: 20px 0;
    display: block
}

.product-sidebar .price .amount {
    font-size: 30px;
    font-family: 'Graphik';
    color: #000
}

.single_add_to_cart_button {
    margin-bottom: 25px;
    background-color: #fff;
}

.product-sidebar span.posted_in, .product-sidebar span.tagged_as {
    display: block;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Graphik';
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 1px
}

.product-sidebar span.posted_in a, .product-sidebar span.tagged_as a {
    display: block;
    font-family: "Crimson Text", serif;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5
}

.product-sidebar span.posted_in a:hover, .product-sidebar span.tagged_as a:hover, .product-sidebar span.posted_in a:focus, .product-sidebar span.tagged_as a:focus {
    border-bottom: 1px solid transparent;
}

.product-sidebar span.posted_in a:before, .product-sidebar span.tagged_as a:before {
    content: "\f105";
    font-family: 'Fontawesome';
    color: #009dce;
    margin-right: 10px;
}

.product-sidebar .variations td.label {
    width: 95px;
}

.product-sidebar .variations {
    width: 100%;
}

.product-sidebar .single_variation_wrap {
    margin-top: 20px;
}

.product-sidebar .reset_variations {
    float: right;
}

.product-sidebar .order-prints-line {
    height: 1px;
    background-color: #000;
    text-align: center;
    margin: 15px 0 40px;
}

.product-sidebar .order-prints-line span {
    background-color: #f7f7f7;
    position: relative;
    top: -13px;
    padding: 0 5px;
    font-style: italic;
    font-size: 18px;
    color: #000;
}

.single-product a.artist {
    border-bottom: 1px solid #000;
}

.single-product a.artist:hover {
    border-color: #009dce;
    color: #009dce
}

.product-sidebar {
    background-color: #f7f7f7;
    padding: 25px 25px 15px;
}

.product-sidebar .single_variation {
    margin: 15px 0;
}

.product-sidebar .quantity {
    display: none !important;
}

.single-product .related.products {
    margin-top: 50px
}

.single-product a.woocommerce-main-image:hover {
    border: none
}

.single-product .more-products-by-artist {
    margin-top: 50px
}

.single-product .more-products-by-artist h3, .single-product .related.products h3 {
    margin-bottom: 15px
}

.single-product .artist-block {
    margin-top: 30px;
}

.single-product .artist-block h3 {
    margin-bottom: 15px;
}

.single-product .artist-info {
    margin: 0;
    background: #f7f7f7;
    position: relative;
    float: left;
    width: 100%;
    display: table;
}

.single-product .artist-info .artist-shortdesc {
    padding: 25px 50px 25px 25px;
    float: left;
    margin: 0;
    height: 100%;
    text-overflow: ellipsis;
}

.single-product .artist-info .artist-shortdesc p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.single-product .artist-info .artist-profilepic {
    display: table-cell;
    width: 200px;
    padding: 25px;
    height: 100%;
    vertical-align: top;
}

.single-product .artist-info .artist-profilepic img {
    border-radius: 50%;
}

/* CHECKOUT */
.woocommerce table.shop_table {
    border-radius: 0;
    margin: 0 0 50px;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
}

.woocommerce table.shop_table th {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    font-family: 'Graphik';
    font-weight: 500;
    font-size: 14px;
    padding: 15px;
}

.woocommerce table.shop_table tfoot th {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    font-family: "Crimson Text";
}

.woocommerce-checkout-review-order-table tfoot {
    background: #f8f8f8 none repeat scroll 0 0;
}

.woocommerce table.shop_table tfoot th {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.woocommerce table.shop_table tfoot .order-total th {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.woocommerce .product-name a {
    font-size: 22px;
    font-style: italic;
}

.woocommerce .product-name .variation dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

.woocommerce .product-name .variation dt {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0
}

.woocommerce .product-name .variation dd, .woocommerce .product-name .variation dt {
    height: 27px
}

.woocommerce .product-name .variation dd p {
    margin: 0;
    padding: 0;
    line-height: 22px;
}

.woocommerce .product-name .variation dd.variation-Gre p:after {
    content: ' cm'
}

.woocommerce .product-name .variation dd {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0
}

.woocommerce-cart table.cart td, .woocommerce-cart table.cart th {
    vertical-align: middle;
}

.woocommerce thead th {
    border: medium none;
}

.woocommerce td, .woocommerce th {
    border-width: 1px 0 0;
}

.woocommerce-cart table.cart .product-thumbnail {
    min-width: 32px;
}

.woocommerce .product-remove a {
    margin: auto;
}

.woocommerce .shop_table .product-remove {
    width: 3%;
}

.woocommerce .shop_table .product-thumbnail {
    width: 25%;
}

.woocommerce .shop_table .product-name {
    width: 45%;
}

.woocommerce .shop_table .product-name .variation {
    margin-bottom: 10px;
}

.woocommerce .shop_table .product-price {
    width: 7%;
}

.woocommerce .shop_table .product-quantity {
    width: 10%;
}

.woocommerce .shop_table .product-subtotal {
    width: 10%;
}

.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}

.woocommerce a.remove {
    color: #7d7d7d !important;
}

.woocommerce-cart table.cart img {
    box-shadow: none;
    width: 90%;
    height: auto;
}

.woocommerce .quantity .minus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: 40px;
    width: 40px;
    float: left;
}

.woocommerce .quantity .plus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    height: 40px;
    width: 40px;
    float: left;
}

.woocommerce .quantity .qty {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
    float: left;
}

.woocommerce table.shop_table td.actions {
    padding: 20px;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    text-align: right;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left;
}

.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
    display: none;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    margin-right: 10px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    float: left;
    margin: 0 4px 0 0;
    width: 49%;
}

.coupon input {
    width: 49%;
    margin-bottom: 0
}

.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%;
}

.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce .cart-collaterals .shipping_calculator:before, .woocommerce .cart-collaterals:after, .woocommerce .cart-collaterals:before, .woocommerce form .form-row:after, .woocommerce form .form-row:before, .woocommerce ul.cart_list li:after, .woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:after, .woocommerce ul.product_list_widget li:before, .woocommerce-page .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:before, .woocommerce-page .cart-collaterals:after, .woocommerce-page .cart-collaterals:before, .woocommerce-page form .form-row:after, .woocommerce-page form .form-row:before, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.cart_list li:before, .woocommerce-page ul.product_list_widget li:after, .woocommerce-page ul.product_list_widget li:before {
    content: " ";
    display: table;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 49%;
    float: right;
}

.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.woocommerce h2, .woocommerce h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    border-collapse: separate;
    margin: 0 0 6px;
    padding: 0;
    border-left: 0;
    width: 100%
}

.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-color: #d6d6d6;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td {
    border-left: 1px solid #d6d6d6;
    padding: 0 10px;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-top: 1px solid #ebe9eb;
}

.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    padding: 6px 0;
    line-height: 2em;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce #content div.product div.thumbnails a.first, .woocommerce #content div.product div.thumbnails:after, .woocommerce .cart-collaterals:after, .woocommerce .col2-set:after, .woocommerce .woocommerce-pagination ul.page-numbers:after, .woocommerce div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails:after, .woocommerce ul.products, .woocommerce ul.products li.first, .woocommerce ul.products:after, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page .cart-collaterals:after, .woocommerce-page .col2-set:after, .woocommerce-page .woocommerce-pagination ul.page-numbers:after, .woocommerce-page div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails:after, .woocommerce-page ul.products, .woocommerce-page ul.products li.first, .woocommerce-page ul.products:after {
    clear: both;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product div.thumbnails:after, .woocommerce #content div.product div.thumbnails:before, .woocommerce .col2-set:after, .woocommerce .col2-set:before, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product div.thumbnails:after, .woocommerce div.product div.thumbnails:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page #content div.product div.thumbnails:before, .woocommerce-page .col2-set:after, .woocommerce-page .col2-set:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product div.thumbnails:after, .woocommerce-page div.product div.thumbnails:before {
    content: " ";
    display: table;
}

.wc-proceed-to-checkout a {
    display: block;
    text-align: center;
}

#shipping_method, .payment_methods, .order_details {
    list-style: none
}

.checkout_coupon input[type="submit"] {
    margin-bottom: 20px
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 100%;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}

.checkout h3 {
    margin: 30px 0;
}

#ship-to-different-address {
    margin-bottom: 13px;
}

#ship-to-different-address input {
    float: left;
    margin-top: 11px;
}

#ship-to-different-address label {
    display: inline;
    text-transform: none;
    margin-left: 10px;
}

/* register form */
.register_form_user {
    position: relative;
}

#username_tooltip {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 40px;
}

#country-select-countainer {
    margin-bottom: 0
}

.error {
    color: #b81c23;
    display: block
}

/* Tabs und Akkordeon */
.vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab.vc_active > a, .vc_tta-color-grey.vc_tta-style-flat.vc_tta-tabs .vc_tta-panels {
    background-color: #f7f7f7 !important
}

.vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab > a {
    background-color: #fff !important
}

.vc_tta.vc_general .vc_tta-tab > a {
    padding: 8px 16px !important
}

.vc_toggle_title > h4 {
    font-size: 14px;
    color: #666666 !important
}

.vc_toggle_size_md.vc_toggle_simple .vc_toggle_title .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_round .vc_toggle_title .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_rounded .vc_toggle_title .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_square .vc_toggle_title .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_default .vc_toggle_title .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_simple .vc_toggle_content .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_round .vc_toggle_content .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_rounded .vc_toggle_content .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_square .vc_toggle_content .vc_toggle_icon, .vc_toggle_size_md.vc_toggle_default .vc_toggle_content .vc_toggle_icon {
    background-color: #ddd !important;
    border: none !important;
}

.vc_toggle_default .vc_toggle_icon::before, .vc_toggle_default .vc_toggle_icon::after {
    background: #ddd !important;
    border: 0 !important;
}

.vc_toggle p {
    margin-bottom: 0
}

.vc_toggle_content {
    margin-top: 10px !important
}

.vc_toggle_square .vc_toggle_icon {
    border: 1px solid #666 !important
}

.vc_toggle_square.vc_toggle_color_inverted .vc_toggle_icon::before, .vc_toggle_square.vc_toggle_color_inverted .vc_toggle_icon::after {
    background-color: #666 !important
}

/* Produktfilter */
.pf_default_select .prdctfltr_filter > span, .pf_select .prdctfltr_filter > span {
    padding: 11px 10px 6px !important;
}
.prdctfltr_woocommerce_filter {
    display: none !important;
}

.prdctfltr_wc.prdctfltr_woocommerce.pf_select i.prdctfltr-down, .prdctfltr_wc.prdctfltr_woocommerce.pf_select i.prdctfltr-up {
    top: 11px !important;
    right: 35px !important;
}

.prdctfltr-bars {
    float: left;
    margin-top: 2px
}

.prdctfltr_wc .prdctfltr_filter_title .prdctfltr_woocommerce_filter {
    float: left;
    border: none !important
}

.prdctfltr_wc .prdctfltr_filter_title .prdctfltr_woocommerce_filter img {
    margin-top: -12px !important
}

.pf_default_select .prdctfltr_filter > span, .pf_select .prdctfltr_filter > span {
    border: 1px solid #e3e3e3 !important
}

.post-type-archive-product h1 {
    display: none
}

.prdctfltr_wc.prdctfltr_woocommerce.pf_select .prdctfltr_filter {
    padding-right: 25px !important;
}

/* Ajax Search */
#yith-searchsubmit, .yith-ajaxsearchform-container .screen-reader-text {
    display: none;
}

.yith-ajaxsearchform-container input[type="search"] {
    padding: 10px 10px 5px !important;
    line-height: 16px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    color: #7d7d7d;
}

.yith-ajaxsearchform-container {
    margin-top: 36px;
}

@media all and (max-width: 990px) {
    .yith-ajaxsearchform-container {
        margin-top: -20px;
    }
}

.yith-ajaxsearchform-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7d7d7d;
}

.yith-ajaxsearchform-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7d7d7d;
    opacity: 1;
}

.yith-ajaxsearchform-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7d7d7d;
    opacity: 1;
}

.yith-ajaxsearchform-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7d7d7d;
}

[type="search"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.autocomplete-suggestions {
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.2);
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 0;
    margin: -6px 0 0 0;
    width: 90% !important;
}

.autocomplete-suggestion {
    font-size: 16px;
    padding: 3px 8px;
}

/*
*
*  Home Slider
*
*/
.art-slider {
    position: relative;
    width: 100%;
    overflow: auto;

    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: rgba(255, 255, 255, .6);
    text-shadow: 0 0 1px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .3);

    background: #5b4d3d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);

    margin-bottom: 50px;
}

.art-slider ul {
    list-style: none;
    width: 300%;
}

.art-slider ul li {
    display: block;
    float: left;
    width: 33%;
    min-height: 250px;
    max-height: 600px;
    position: relative;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    box-shadow: inset 0 -3px 6px rgba(0, 0, 0, .1);
}

.art-slider .inner {
    padding: 160px 0 110px;
}

.art-slider h1, .art-slider h2 {
    font-size: 40px;
    line-height: 52px;

    color: #fff;
}

.art-slider .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
}

.art-slider .btn:hover {
    background: rgba(255, 255, 255, .05);
}

.art-slider .btn:active {
    -webkit-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -moz-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -ms-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    -o-filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
    filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, .5));
}

.art-slider .btn, .art-slider .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
}

.art-slider .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.art-slider .dots li {
    display: inline-block;
    *display: inline;
    zoom: 1;

    width: 10px;
    height: 10px;
    line-height: 10px;
    margin: 0 4px;

    text-indent: -999em;
    *text-indent: 0;

    border: 2px solid #fff;
    border-radius: 6px !important;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.art-slider .dots li.active {
    background: #fff;
    opacity: 1;
}

.art-slider .arrows {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}

.art-slider .arrow {
    display: inline;
    padding-left: 10px;
    cursor: pointer;
}

.art-slider ul li footer {
    position: absolute;
    bottom: 40px;
    left: 45px;
    text-align: left;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;
}

.art-slider ul li footer a.title {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-weight: normal;
}

.art-slider ul li footer a.title:hover {
    border-color: #fff;
}

.art-slider ul li footer a.artist-name {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-weight: normal;
    border-color: transparent;
}

.art-slider ul li footer a.artist-name:hover {
    border-color: #fff;
}

/*
*
* media queries
*
*/
@media all and (max-width: 992px) {
    /* masonry product grid */
    ul.products li.product.type-product {
        width: 100%;
        margin: 0 0 35px 0;
    }

    .showcase .grid-sizer {
        width: 100%;
    }

    .showcase .gutter-sizer {
        width: 0;
    }

    .page-id-16 .grid-sizer, #post-14 .grid-sizer, #artists-page .grid-sizer {
        width: 49%;
    }

    .page-id-16 .gutter-sizer, #post-14 .gutter-sizer, #artists-page .gutter-sizer {
        width: 2%;
    }

    .page-id-16 ul.products li.product.type-product, #post-14 ul.products li.product.type-product, #artists-page li.product.type-product {
        width: 49%;
        margin-bottom: 1%;
    }
}

@media all and (max-width: 768px) {
    .hero-img {
        margin-left: -15px;
        margin-right: -15px;
    }

    .grid-sizer, ul.products li.product-category.product {
        width: 48%;
    }

    .gutter-sizer {
        width: 4%;
    }

    .grid-sizer-masonry {
        width: 100%;
    }

    .post.type-post {
        width: 100%;
        margin: 0 0 35px 0;
        padding: 0;
        float: left;
    }

    .gutter-sizer-masonry {
        width: 0;
    }

    /* masonry product grid */
    ul.products li.product.type-product, .showcase ul.products li.product.type-product {
        width: 100%;
        margin: 0 0 35px 0;
    }

    .showcase .grid-sizer {
        width: 100%%;
    }

    .showcase .gutter-sizer {
        width: 0;
    }

    /* navbar */
    .navbar-toggle {
        margin-right: 20px;
        margin-top: 40px;
    }

    .navbar-collapse {
        border: none;
        box-shadow: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .header-image .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-nav {
        margin-top: 20px
    }

    .navbar-nav .current_page_item a {
        background-color: #ddd
    }

    #top {
        padding-top: 5px;
    }

    #content {
        margin-top: 10px
    }

    .navbar-toggle {
        border: none;
        background: transparent !important;
    }

    .navbar-toggle:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
    }

    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
    }

    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
    }

    .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        float: none;
        width: 100%;
    }

    .art-slider ul li {
        min-height: 150px
    }

}

@media all and (max-width: 540px) {
    ul.products li.product-category.product {
        width: 100%;
        margin: 0 0 35px 0;
        padding: 0;
    }

    .grid-sizer {
        width: 100%;
    }

    .gutter-sizer {
        width: 0;
    }

    .page-id-16 .grid-sizer, #post-14 .grid-sizer, #artists-page .grid-sizer {
        width: 100%;
    }

    .page-id-16 .gutter-sizer, #post-14 .gutter-sizer, #artists-page .gutter-sizer {
        width: 0;
    }

    .page-id-16 ul.products li.product.type-product, #post-14 ul.products li.product.type-product, #artists-page li.product.type-product {
        width: 100%;
        margin-bottom: 1%;
    }
}